# Server
SERVER_PORT=8081

# Database
DB_DATABASE=account-service
DB_HOST=localhost
DB_PASSWORD=postgres
DB_PORT=5433
DB_USER=postgres

# Rabbitmq
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672

# Kafka
KAFKA_BROKER=localhost:9092
